.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 30px;

}

.list{
    display: flex;
    list-style: none;
    align-items: center;
    flex-wrap: wrap;
}


.item{
    
    flex-wrap: wrap;
    margin-left: 20px;
    padding: 10px;
    background-color: aqua;
}

.logo{
    margin-left: 80px;
    padding: 10px;
    background-color: aqua;
    flex-wrap: wrap;
}